@import "variables";

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $template-corporate-font-family-body;
    font-size: $template-corporate-font-size-body;
    line-height: $template-corporate-line-height-body;
    background-color: $template-corporate-color-slate-light;
    color: $template-corporate-color-slate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $template-corporate-font-size-body;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

input,
button {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    padding: ($template-unit) ($template-unit * 1.5);
    border-radius: ($template-unit / 2);
    border: 0;
}

textarea {
    resize: vertical;
    @extend input;
}

label {
    display: block;

    span {
        display: block;
    }

    input[type="checkbox"] {
        width: auto;

        & + span {
            display: inline;
        }
    }
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;

    & + p {
        margin-top: $template-unit;
    }
}

header {
    background-color: $template-corporate-color-slate;
    color: #fff;
}

section {
    padding: ($template-unit * 5) 0;

    &:nth-child(odd) {
        background-color: #fff;
    }
}
