@import "variables";

.container {
    max-width: 1200px;
    margin: 0 1em;

    @include bb-rows-breakpoint-up(medium) {
        margin: 0 auto;
    }
}

.title1 {
    font-size: $template-corporate-font-size-body * 4.0;
    line-height: 1.125;
    font-family: $template-corporate-font-family-headline;
    color: $template-corporate-color-orange;
    font-weight: 700;
    margin: ($template-unit * 4) 0;
}

.title2 {
    font-size: $template-corporate-font-size-body * 2.0;
    line-height: 1.5;
    font-family: $template-corporate-font-family-headline;
    font-weight: 400;
    margin: ($template-unit * 2) 0 ($template-unit * 1) 0;
}

.btn {
    border: 1px solid $template-corporate-color-orange;
    color: $template-corporate-color-orange;
    text-decoration: none;
    padding: .5em;
    margin: 1em 0;
    display: inline-block;
    border-radius: $template-unit / 2;

    &:hover {
        text-decoration: none;
        border-color: $template-corporate-color-orange-light;
        cursor: pointer;
        @include transition(.5);
    }

    &--cta {
        background-color: $template-corporate-color-orange;
        color: #fff;

        &:hover {
            background-color: $template-corporate-color-orange-light;
            color: $template-corporate-color-orange;
        }
    }
}

