$template-corporate-font-family-headline: "Source Sans Pro", "Helvetica", sans-serif;
$template-corporate-font-family-body: "Source Sans Pro", "Helvetica", sans-serif;

$template-corporate-font-size-body: 16px;
$template-corporate-line-height-body: 1.5;

$template-corporate-color-orange: #c60;
$template-corporate-color-orange-light: lighten($template-corporate-color-orange, 10%);

$template-corporate-color-slate: #555;
$template-corporate-color-slate-light: #eee;

$template-unit: 10px;

@mixin transition($time) {
    -o-transition: $time+s;
    -moz-transition: $time+s;
    -webkit-transition: $time+s;
    transition: $time+s;
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    font-style: normal;
    src: url("/build/fonts/SourceCodePro-Regular.eot");
    src: url("/build/fonts/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), 
         url("/build/fonts/SourceCodePro-Regular.woff2") format("woff2"), 
         url("/build/fonts/SourceCodePro-Regular.woff") format("woff"), 
         url("/build/fonts/SourceCodePro-Regular.ttf") format("truetype"), 
         url("/build/fonts/SourceCodePro-Regular.svg#SourceCodePro") format("svg");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    src: url("/build/fonts/SourceSansPro-Regular.eot");
    src: url("/build/fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), 
         url("/build/fonts/SourceSansPro-Regular.woff2") format("woff2"), 
         url("/build/fonts/SourceSansPro-Regular.woff") format("woff"), 
         url("/build/fonts/SourceSansPro-Regular.ttf") format("truetype"), 
         url("/build/fonts/SourceSansPro-Regular.svg#SourceSansPro") format("svg");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-style: normal;
    src: url("/build/fonts/SourceSansPro-Bold.eot");
    src: url("/build/fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), 
         url("/build/fonts/SourceSansPro-Bold.woff2") format("woff2"), 
         url("/build/fonts/SourceSansPro-Bold.woff") format("woff"), 
         url("/build/fonts/SourceSansPro-Bold.ttf") format("truetype"), 
         url("/build/fonts/SourceSansPro-Bold.svg#SourceSansPro") format("svg");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: italic;
    src: url("/build/fonts/SourceSansPro-Italic.eot");
    src: url("/build/fonts/SourceSansPro-Italic.eot?#iefix") format("embedded-opentype"), 
         url("/build/fonts/SourceSansPro-Italic.woff2") format("woff2"), 
         url("/build/fonts/SourceSansPro-Italic.woff") format("woff"), 
         url("/build/fonts/SourceSansPro-Italic.ttf") format("truetype"), 
         url("/build/fonts/SourceSansPro-Italic.svg#SourceSansPro") format("svg");
}


// Customize includes

$fa-font-path: "/build/fonts";
$bb-rows-gutter: ($template-unit * 4);