<?php
    
/**
 *  Basic Template for Kiwa WCMS
 *
 *  @copyright Copyright (c) 2018, Bit&Black
 *  @author Tobias Köngeter <tobias.koengeter@bitandblack.com>
 *  @link http://www.bitandblack.com
 *
 *  This file is your basic html document. 
 *  It wraps every other page so it should contain a basic header and an empty body
 *
 *  The variable $kiwa is declared with the frontend controller instance
 *  and ist equal to $this->getController()
 */ 

date_default_timezone_set('Europe/Berlin');

?><!DOCTYPE html>
<html lang="<?php echo $kiwa->getLanguage()->getLanguageCode(); ?>">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">
        <?php 
            
        /**
         *  Get information to the current page for javascript
         *  The information will be accessable under the KiwaFrontend namespace
         */        
        echo $kiwa->getHTML()->getFrontendScript();
        
        /**
         *  Include some javascript
         */
        $mainScript = $kiwa->getURL()->getSiteURL(
            [
                'name' => 'javascripts',
                'subname' => 'script.js'
            ]
        );
        
        echo '<script src="'.$mainScript.'"></script>'.PHP_EOL;
        
        /**
         *  Includes some javascript you pushed from somewhere else via setJavaScript()
         *  Don't change the placeholder
         */                
        echo '{{JAVASCRIPTS}}'.PHP_EOL;
        
        /**
         *   Include some stylesheets
         */            
        $mainStyle = $kiwa->getURL()->getSiteURL(
            [
                'name' => 'stylesheets', 
                'subname' => 'style.css'
            ]
        );
        
        echo '<link href="'.$mainStyle.'" type="text/css" rel="stylesheet">'.PHP_EOL;
        
        /**
         *  Includes some stylesheets you pushed from somewhere else via setStyleSheets()
         *  Don't change the placeholder
         */            
        echo '{{STYLESHEETS}}'.PHP_EOL;
        
        /**
         *  Gets meta tags
         *  Don't change the placeholder
         */            
        echo '{{METATAGS}}'.PHP_EOL;
        
        /**
         *  Gets hreflang tags
         */            
        echo $kiwa->getLanguage()->getHreflang().PHP_EOL;
        
        /**
         *  Gets icons
         */            
        $touchIcon = $kiwa->getURL()->getSiteURL(
            [
                'name' => 'images', 
                'subname' => 'apple-touch-icon.png'
            ]
        );
        
        $favicon = $kiwa->getURL()->getSiteURL(
            [
                'name' => 'images', 
                'subname' => 'favicon.ico'
            ]
        );
        
        echo '<link rel="apple-touch-icon" href="'.$touchIcon.'">'.PHP_EOL;
        echo '<link rel="shortcut icon" href="'.$favicon.'">'.PHP_EOL;

        /**
         *  Gets page title
         */            
        echo '<title>'.$kiwa->getPage()->getPageTitle().'</title>'.PHP_EOL;
    
        ?>
    </head>
    <body>
        <?php
            
        /**
         *  Prints the content from a specific page
         *  Don't change the placeholder
         */ 
        echo '{{CONTENT}}';
        
        ?>
    </body>
</html>