<section>
    <div class="container">
        <div class="bb-row">
            <div class="bb-row__cell bb-row__cell--cell12">
                <div>
                    <h1 class="title1"><?php echo $kiwa->_('Hello world!'); ?></h1>
                    <h2 class="title2">This is your basic Kiwa WCMS template. Have a look at the source code and check the folders, it's very easy to understand.</h2>
                    <p>What is Kiwa WCMS? If you love to write your websites by hand, you may have noticed, that many task are getting difficult, if a website grows bigger. For example managing language versions makes a website many times more complex that having just one language. To keep the things simple, we create Kiwa WCMS. It's just like an invisible frame around your website, that gives some useful functions for working on a website. For example handling the language versions, logging errors or creating backups. You will love to see, how easy the things are.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="bb-row">
            <div class="bb-row__cell bb-row__cell--medium-cell4 bb-row__cell--cell12">
                <div>
                    <h2 class="title2">Need help?</h2>
                    <p>Don't worry! Check our FAQ-Section on <a href="http://www.kiwa.io">www.kiwa.io</a>.</p>
                </div>
            </div>
            <div class="bb-row__cell bb-row__cell--medium-cell4 bb-row__cell--cell12">
                <div>
                    <h2 class="title2">Want to see more?</h2>
                    <p>Login to your backend. There are many settings and possibilities to handle a website easily.</p>
                    <p><a href="/kiwa" class="btn">Let me see</a></p>
                </div>
            </div>
            <div class="bb-row__cell bb-row__cell--medium-cell4 bb-row__cell--cell12">
                <div>
                    <h2 class="title2">Want to say something?</h2>
                    <p>Get in touch and write us an email at <a href="mailto:support@kiwa.io">support@kiwa.io</a>. We're glad to help and excited to hear from you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="bb-row">
            <div class="bb-row__cell bb-row__cell--cell12">
                <div>
                    <p>Kiwa WCMS is a software made by Bit&amp;Black, Überkinger Straße 4, 70372 Stuttgart, Germany</p>
                    <p>Bit&amp;Black is a trademark by WirbelWild, represented by Deborah Köngeter and Tobias Köngeter, Überkinger Straße 4, 70372 Stuttgart, Germany</p>
                </div>
            </div>
        </div>
    </div>
</section>
